
body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 85% Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background: #ddd uri()repeat 0 0;
} 

#container{
    margin: 1em auto;
    width: 650px;
    text-align: left;
    background: #9400D3;
    border: 1px solid #676767;
}

#header{
    height: 45px;
    width: 100%;
    position: relative;
    background: url() no-repeat 0 0;
    border-bottom: 1px solid #ddd;}
#mainnav{background-color: #9F3;}
#menu{
    float: rigth;
    width: 165px;
    background-color: #6F9;
}

#contents{
    float: left;
    width: 440px;
    background: #9FC;
    margin: 0 0 0 20px;
    display: inline;
}
#footer{
    clear:boh;
    background: #FF9;
}